@using Microsoft.AspNetCore.Identity;
@model Register
@{
    ViewData["Title"] = "User Registration Page";
}

<h1>Registration page</h1>

<form action="@Url.Action("RegisterPost", "User")" method="post" autocomplete="off">
    <div>
        <h4 style="font-size: medium">Register a new user</h4>
        <hr />
        <div style="margin-bottom:10px">
            <label for="UserName">User name</label>
            <input id="UserName" name="UserName" type="text" />
        </div>
        <div style="margin-bottom:10px">
            <label for="Password">Password</label>
            <input id="Password" name="Password" type="password" />
        </div>
        <div style="margin-bottom:10px">
            <label for="ConfirmPassword">Confirm password</label>
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" />
        </div>
        <div style="margin-bottom:10px">
            <label for="Role">Role</label>
            <select name="Role" id="Role">
                @foreach (IdentityRole role in Model.RoleList)
                {
                    <option value="@role.Name">@role.Name</option>
                }
            </select>
        </div>

        <div>
            <input type="submit" value="Register" />
        </div>
    </div>
</form>

@if(Model != null)
{
    <p>@Model.StatusDescription</p><br />

    @if (Model.Errors != null)
    {
        @foreach (IdentityError error in Model.Errors)
        {
            <p>@error.Description</p><br />
        }
    }
}