@model Booking
@{
    ViewData["Title"] = "Edit Booking";
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #2196F3;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 30px;
        text-align: center;
    }
</style>

<!-- This part creates labels and textfields that updates when a key has been pressed. -->
<form method="post" action="/Booking/Save">
    <input type="text" value="@Model.Id" name="Id" hidden/>
    <div class="grid-container">
        <div class="grid-item"><label for="From">Enter the date you wish to book:</label></div>
        <div class="grid-item"><input type="date" id="bookingDate" name="From" value="@Model.From" onchange="checkDate()"></div>
        <div class="grid-item"><label for="party">Enter your name:</label></div>
        <div class="grid-item"><input type="text" id="nameTextbox" name="Name" value="@Model.Name" onkeyup="checkName()"></div>
        <div class="grid-item"><label for="party">Enter your email:</label></div>
        <div class="grid-item"><input type="text" id="emailTextbox" onkeyup="checkEmail()"></div>
        <div class="grid-item"><label for="party">Enter your phone number:</label></div>
        <div class="grid-item"><input type="number" id="phoneTextbox" name="Phone" value="@Model.Phone" onkeyup="checkPhoneNumber()"></div>
        <div class="grid-item"><label for="party">Enter the size of your party:</label></div>
        <div class="grid-item"><input type="number" id="partyTextbox" name="PartySize" value="@Model.PartySize" onkeyup="checkParty()"></div>
        <div class="grid-item"><label for="party">Enter any additional notes <br>(Food allergies or special needs):</label></div>
        <div class="grid-item"><input type="text" id="notesTextbox" name="Description" value="@Model.Description" onkeyup="checkNotes()"></div>
    </div>
    <button id="submitButton" type="submit">Submit</button>
</form>

<br>
<br>


@*<script src="~/js/EditBooking.js"></script>*@

<script>
    
    // Local storage
    function loadDataIntoForm() {

    }
    window.onload = loadDataIntoForm;


</script>